{
  "username": "bookmarks",
  "avatar": "https://cdn.glitch.global/8b08fe2b-99fe-48bd-9a54-d17f87b3df2b/fedimarks.png?v=1673498222581",
  "displayName": "Fedimarks",
  "description": "An ActivityPub bookmarking and sharing site built with Fedimarks"
}
