{
  "username": "bookmarks",
  "avatar": "https://sharepostmarks.org/postmarks-logo-white-small.png",
  "displayName": "Postmarks",
  "description": "An ActivityPub bookmarking and sharing site built with Postmarks"
}
