<div class="login">
  <form method="POST" action="/login">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" />
    <input type="hidden" name="sendTo" value={{sendTo}} />
    <button type="submit">Log in</button>
  </form>
</div>
