<div>
  <h3>Not enabled</h3>
  <p>
    This feature is currently not enabled as it appears you don’t have this app
    set up to run on the fediverse. If you think that’s incorrect, go back to
    the setup instructions and make sure you’ve followed the necessary steps to
    create an identity.
  </p>
</div>
