{{#if error}}
  <p class="error">
    {{error}}
  </p>
{{else}}
  <div class="bookmarks">
    {{#each bookmarks }}
      {{> show_bookmark bookmark=this tagged=true }}
    {{/each}}
  </div>
  {{> pagination url="" pageInfo=pageInfo }}
{{/if}}
