<ul class="admin-links">
  <li><a href="/admin">Bookmarklet</a></li>
  <li><a href="/admin/bookmarks">Import bookmarks</a></li>
  <li><a href="/admin/followers">Permissions &amp; followers</a></li>
  <li><a href="/admin/following">Federated follows</a></li>
  <li><a href="/admin/data">Data export</a></li>
</ul>
