<ul>
  <li><a href="/admin/">Admin home/Bookmarklet</a></li>
  <li><a href="/admin/bookmarks">Import bookmarks</a></li>
  <li><a href="/admin/followers">Permissions &amp; followers</a></li>
  <li><a href="/admin/following">Manage your federated follows</a></li>
  <li><a href="/admin/data">Data export</a></li>
</ul>
