<h3>
  Download bookmarks
</h3>
<p>
  You can download your bookmarks as:
</p>
<ul>
  <li><a href="/admin/bookmarks.db">sqlite database</a></li>
  <li><a href="/admin/bookmarks.csv">csv</a></li>
</ul>
<p>
  It’s less likely you’ll need this, but you can also download your
  activitypub.db
  <a href="/admin/activitypub.db">here</a>.
</p>
<form action="/admin/reset" method="post"
  onsubmit="return confirm('Last chance! This will DELETE ALL YOUR BOOKMARKS. Are you sure you want to do this?')">
  <h3>
    Delete all bookmarks
  </h3>
  <p>
    Delete all the bookmarks only if you are completely sure! These cannot be
    recovered.
  </p>
  <button type="submit">Clear bookmarks</button>
</form>
