<h3>
  Manage your federated follows
</h3>

<div>
  <form action="/admin/following/follow" method="POST">
    <label for="actor">Enter username to follow</label>
    <input
      type="text"
      id="actor"
      name="actor"
      placeholder="@updates@postmarks.glitch.me"
    />
    <button type="submit">
      Follow
    </button>
  </form>
</div>

<div>
  {{#each following}}
    <div class="following">
      <div class="info">
        <a href="{{this}}">{{this}}</a>
      </div>
      <div class="actions">
        <form action="/admin/following/unfollow" method="POST">
          <input type="hidden" name="actor" value="{{this}}" />
          <button type="submit">Unfollow</button>
        </form>
      </div>
    </div>
  {{/each}}
</div>
