<h3>
  Bookmarklet
</h3>
<p>
  You can use this bookmarklet to quickly add bookmarks around the web! Create a
  new bookmark in your browser's bookmarks toolbar, then edit the URL for that
  bookmark and insert this javascript:
</p>
<button
  class="btn"
  data-copy="{{{bookmarklet}}}"
  data-copy-status=".copy-bookmarklet-status"
>
  {{bookmarkletTruncated}}
</button>
<p><small class="copy-bookmarklet-status">Click the code above to copy</small></p>

{{#section 'script'}}
  <script src="/copy-to-clipboard.js"></script>
{{/section}}
