<h3>
  Bookmarklet
</h3>
<p>
  You can use this bookmarklet to quickly add bookmarks around the web! Create a
  new bookmark in your browser's bookmarks toolbar, then edit the URL for that
  bookmark and insert this javascript:
</p>
<input readonly type="text" id="copy-bookmarklet" value="{{{bookmarklet}}}" />
<p><small id="copy-status">Click the code above to copy</small></p>

{{#section 'script'}}
  <script src="/copy-bookmarklet.js"></script>
{{/section}}
