name: Run ESLint + Prettier

on:
  push:
    branches: [ "main" ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ "main" ]

jobs:
  eslint:
    name: Linting
    runs-on: ubuntu-latest # on which machine to run
    steps:
      - name: Install NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
  
      - name: Code Checkout
        uses: actions/checkout@v4
  
      - name: Install Dependencies
        run: npm ci
  
      - name: Code Linting
        run: npm run lint
